#nav {
    background-color: #283618;
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

#logo {
    background-color: #283618;
    margin-right: 5%;
    border: 0px;

}

#waah, #new, #all, #gekkoin, #profile {
    background-color: #606C38;
    width: 10%;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin: 2.5%;
}

#waah:hover, #new:hover, #all:hover, #gekkoin:hover, #profile:hover{
    background-color: #77975B;
    width: 10.5%;
    height: 12.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin: 2.5%;
}


body {
    background-color: #FFF8CE;
}

/* #F4E285, (navbar) 285943, buttons: 8CB369, oude achtergrond: FFF8CE
    */

#verticalleft {
    background-color: #603F26;
    z-index: -1;
    width: 50px;
    min-height: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
}
#verticalright {
    background-color: #603F26;
    z-index: -1;
    width: 50px;
    min-height: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    right: 0;
}
#gekkoin_amount_display {
    display: flex;
    justify-self: center;
    align-items: center;
    background-color: #555f32;
    border-radius: 20px;
    color: #FFF8CE;
    font-family: monospace;
    text-align: center;
    width: 20vh;
    height: 10vh;
    margin: 5px;
    font-size: 5vh;
    text-overflow: ellipsis;
    overflow: hidden;
}
#gekkoin_amount_display:hover {
    width: 20.5vh;
    height: 10.5vh;
    background-color: #606C38;
}
#gekkoin_amount_display > img {
    width: 7vh;
    margin-left: 1vh;
    margin-right: 1vh;
}

#newspaper_container {
    background-color: #f0e8bf;
   /* text-align: center; */
    padding: 10px;

    border-radius: 20px;
 
    width: 75%;
    margin: 0 auto;

    font-family: "Mulish", monospace;
    font-size: 15px;
    
}

#rij1 {
    justify-content: center;
    align-items: center;
    display: flex;
}

#rij1 > div {
    width: 20vh;
    height: 20vh;
    background-color: #606C38;
    margin: 5vh;
    border-radius: 20px;
    text-align: center;
    padding: 1px;
    font-family: monospace;
    color: whitesmoke;
}
#rij1 > div:hover {
    width: 20.5vh;
    height: 20.5vh;
    background-color: #77975B;
    margin: 5vh;
    border-radius: 20px;
    text-align: center;
    padding: 1px;
}
#gek5geopend > button, #insert > button {
    background-color: #393f22;
    border: #555f32;
    border-radius: 5px;
    width: 50%;
    height: 15%;
    color: whitesmoke;
    font-family: monospace;
}
#gek5geopend > button:hover, #insert > button:hover {
    background-color: #464e2a;
    border: #555f32;
    border-radius: 5px;
    width: 50.5%;
    height: 15.5%;
}
